@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    /* color: red; */
    text-decoration: none;
    overflow-x: hidden;
}

body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.logo{
    display: flex;
    align-items: center;
}

.logo:hover{
    cursor: pointer;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background-color: black;
    color: white;
/* 

    position: fixed;
    width: 100vw; */
}

.spotify{
    /* margin-left: 0px; */
    font-size: 20px;
    margin-left: 10px;
}

ul{
    display: flex;
    align-items: center;
    text-decoration: none;
}

img{
    width: 40px;
    float: left;
}

.perfil{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 40px;
    background-image: url(/images/chamber-icon.jpg);
    background-size: cover;
}

.perfil:hover {
    cursor: pointer;
    color: #1ed75f;
}

.menu-itens{
    padding-left: 15px;
    padding-right: 10px;
    text-decoration: none;
    list-style-type: none;
    margin-left: 10px;
    font-weight: bold;
}

#borda-direita{
    border-right: 1px solid white;
    width: 80px;
}

.menu-itens:hover{
    color: #1ed75f;
    cursor: pointer;
}


/* main */

.rosa{
    width: 100vw;
    height: 650px;
    background-color: #ffcdd2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo-rosa{
    color: #d83519;
    text-align: center;
}

.premium{
    font-size: 4em;
}

.teste-gratis{
    margin-top: 25px;
    background-color: #d83519;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;
    border: none;
    font-size: 12px;
    font-weight: bold;
    color: #fdf9f8;
}

.teste-gratis:hover{
    font-size: 13px;
    background-color: #c12f16;
    cursor: pointer;
}

.termos{
    margin-top: 25px;
    font-size: 10px;
}

/* section azul */
.azul{
    background-color: #2941ab;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.conteudo-azul{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 20vw;
}

.azul-titulo{
    color: #1ed760;
    font-size: 3em;
    font-weight: bold;
}

.azul-p{
    color: #1ed760;
    font-size: 1.2em;
}

.web-player{
    width: 190px;
    font-size: 12px;
    text-transform: uppercase;
    padding: 15px 20px;
    border-radius: 20px;
    border: none;
    background-color: #1ed760;
    color: #2941ab;
    font-weight: bold;
}

.web-player:hover{
    background-color: #2de26d;
    cursor: pointer;
    font-size: 13px;
    width: 200px;
}

/* .bola{
    position: relative;
    top: -80px;
    right: -600px; 
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #1ed75f;

}

.bola2{
    width: 200px;
    height: 200px;
    background-color: #d83519;
    position: fixed;
    left: -1000px;
    align-self: flex-start;
} */

.mulher{
    width: 600px;
}



/* footer */

footer{
    color: white;
    display: flex;
    justify-content: space-around;
    background-color: black;
}

.logo-footer{
    display: flex;
    align-items: center;
}

.logo-footer h1{
    font-size: 20px;
    margin-left: 10px;
}

.logo-footer:hover{
    cursor: pointer;
}

#footer-ul{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    font-size: 12px;
}

#footer-ul li:hover{
    color: #1ed760;
    cursor: pointer;
}

#footer-divs{
    margin-top: 50px;
    margin-bottom: 50px;
}

#footer-divs h4{
    font-weight: bold;
}

.redes-sociais{
    display: flex;
    gap: 30px;
    align-items: center;
}

#sociais{
    /* margin-top: 50%; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(34, 34, 34);
    box-sizing: border-box;
}

.instagram{
    background-image: url(/images/insta-spot.png);
    background-size: cover;
    background-repeat: none;
}

.twitter{
    background-image: url(/images/twiter-spot.png);
    background-size: cover;
}

.facebook{
    background-image: url(/images/facebook-spot.png);
    background-size: cover;
}

.instagram:hover{
    border: 1px solid #1ed75f;
    cursor: pointer;
}

.twitter:hover{
    border: 1px solid #1ed75f;
    cursor: pointer;
}

.facebook:hover{
    border: 1px solid #1ed75f;
    cursor: pointer;
}


/* infos */

.cops{
    display: flex;
    justify-content: space-between;
}

.infos{
    display: flex; 
    gap: 30px;
    font-size: 11px;
    color: white;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 100px;
}

.infos p:hover{
    color: #1ed75f;
    cursor: pointer;
}

.cc{
    color: white;
    margin-bottom: 50px;
    font-size: 13px;
    margin-right: 100px;
}

.brasil{
    margin-bottom: 20px;
    text-align: right;
}

.brasil:hover{
    cursor: pointer;
}

.github{
    text-decoration-style: none ;
    text-decoration: none;
    color: #1ed760;
    /* font-weight: bold; */
}

.github:hover{
    text-decoration: underline;
}

.nome{
    color: #1ed75f;
}