*{
    margin: 0;
    padding: 0;
    /* color: red; */
    text-decoration: none;
    overflow-x: hidden;
}

body{
    background-color: rgb(34, 34, 34);
}

.logo{
    display: flex;
    align-items: center;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background-color: black;
    color: white;
}

.spotify{
    /* margin-left: 0px; */
    font-size: 20px;
    margin-left: 10px;
}

ul{
    display: flex;
    align-items: center;
    text-decoration: none;
}

img{
    width: 40px;
    float: left;
}

.perfil{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    margin-left: 40px;
    background-image: url(/images/chamber-icon.jpg);
    background-size: cover;
}

.menu-itens{
    padding-left: 15px;
    padding-right: 10px;
    text-decoration: none;
    list-style-type: none;
    margin-left: 10px;
}

#borda-direita{
    border-right: 1px solid white;
    width: 80px;
}

.menu-itens:hover{
    color: #1ed75f;
    cursor: pointer;
}


/* main */

.rosa{
    width: 100vw;
    height: 80vh;
    background-color: #ffcdd2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo-rosa{
    color: #d83519;
    text-align: center;
}

.premium{
    font-size: 4em;
}

.teste-gratis{
    margin-top: 25px;
    background-color: #d83519;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;
    border: none;
    font-size: 12px;
    font-weight: bold;
    color: #fdf9f8;
}

.teste-gratis:hover{
    font-size: 13px;
    background-color: #c12f16;
    cursor: pointer;
}

.termos{
    margin-top: 25px;
    font-size: 10px;
}